*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafaf9;
  color: #1c1d1c;
}

/* global styles */
input,
button {
  border-radius: 2rem;
  border: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.btn--sort {
  background-color: transparent;
  font-size: 1.6rem;
  margin-left: 2rem;
}
/* end of global styles */

/* navigation */
.navigation {
  background-color: #3a3b3a;
  height: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.navigation__logo {
  width: 15rem;
}

.navigation__login {
  display: flex;
  align-items: center;
}

.navigation__input {
  font: inherit;
  color: inherit;
  background-color: #fafaf9;
  width: 20rem;
  height: 4rem;
  padding-left: 2rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.navigation__input::placeholder {
  font-size: 1.5rem;
  color: #969696;
}

.navigation__icon {
  font-size: 4rem;
  color: #fafaf9;
  margin-top: -0.5rem;
  cursor: pointer;
}

/* end of navigation */

/* APP */
.app {
  padding: 0 5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  transition: all 0.3s ease;

  margin-bottom: 10rem; /* boşluk kalması için */
}

/* balance */
.balance {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance__title {
  font-size: 3.5rem;
}

.balance__date {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  color: #3a3b3a;
}

.balance__value {
  font-size: 5rem;
}

/* operation */
.operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2.5rem;
  height: 18rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #f3b304, #ebb319);
}

.operation--loan {
  background-image: linear-gradient(to top left, #3dd357, #33b049);
}

.form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 4fr 4fr 2.5fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.form--loan {
  grid-template-columns: 1.5fr 1fr;
}

.form__input {
  background-color: #fafaf9;
  height: 4rem;
  padding: 1rem;
}

.form__btn {
  max-width: 5rem;
  background-color: #fafaf9;
  font-size: 2.5rem;
}

.form__label {
  font-weight: 700;
  padding-left: 1rem;
}

/* movements */
.movements {
  grid-column: 1 / span 2;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  height: 40rem;
}

.movements__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 2rem 4rem;
}

.movements__type {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fafaf9;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10rem;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #3dd357, #33b049);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #f13325, #cc291e);
}

.movements__value,
.movements__date {
  width: 10rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.movements__date {
  text-align: center;
}

.movements__value {
  text-align: right;
}

/* summary */
.summary {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.summary__row {
  width: 60%;
  display: flex;
  align-items: flex-end;
}

.summary__label,
.btn--sort,
.summary__timer {
  color: #3a3b3a;
  padding-bottom: 0.3rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.summary__value {
  font-size: 2.2rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #33b049;
}

.summary__value--out {
  color: #cc291e;
}

.summary__timer {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
}
